* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


header {
  position: fixed;
  width: 100%;
  background-color: rgba(207, 10, 69, 0.747);
  top: 0;
  padding: 20px 0;
  color: aliceblue;
  text-align: justify;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;  /* Remueve padding extra */
  margin: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  color: aliceblue;
}


body {
    text-align: justify;
    padding: 0px;
    background-color: rgb(236, 187, 224);
    color: rgb(100, 38, 76);
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6;
    margin: 0;
    margin-top: 80px;
  }

  p {
    color: black;
    font-size: 1em;
}


.div1 {
  width: auto;
  background-color: aliceblue;
  text-align: center;
  color: rgba(207, 10, 69, 0.747);
  font-size: 4em;
  margin: 30px 0;
  padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
  }


h2 {
  width: auto;
  background-color: aliceblue;
  text-align: center;
  color: rgba(207, 10, 69, 0.747);
  font-size: 4em;
  margin: 0px 0;
  padding: 10px;
}

img {
  display: block;
  margin: 20px auto;
}

h3 {
  font-size: 2em;
  color:black;
  text-align: center;
  width: 75%;
  background-color: rgba(207, 10, 69, 0.747);
  margin: 10px auto;
  padding: 1px 10px;
  height: auto;
  box-shadow: 0 0 4px 1px rgb(238, 238, 238);
}

h3 + p {
  color: black;
  font-size: 1em;
  width: 75%;
  background-color: aliceblue;
  border: 2px solid rgba(207, 10, 69, 0.747);
  padding: 10px;
  margin: 10px auto;
  margin-top: 10px;
}

h4 {
  text-align: center;
  font-size: 2em;
  background-color: rgba(207, 10, 69, 0.747);
  margin: 10px auto;
  padding: 20px auto;
  border: solid aliceblue;
  color: black;
  width: fit-content;
}

h4, section {
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid cornsilk;
  margin: 20px auto;
}

th {
  text-align: center;
  border: 1px solid cornsilk;
  padding: 10px;
  background-color: rgba(207, 10, 69, 0.747);
  color: black;
  font-size: 1.5em;
}

td {
  text-align: justify;
  border: 1px solid cornsilk;
  padding: 5px;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 0%;
}