body {
    text-align: justify;
    padding: 50px;
    background-color: rgb(236, 187, 224);
    color: rgb(100, 38, 76);
    border: 1px solid rgb(0, 0, 0);
  }

.div1 {
  width: auto;
  background-color: aliceblue;
  text-align: center;
  color: rgba(207, 10, 69, 0.747);
  font-size: 4em;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: aliceblue;
  }

.div2 {
    width: fit-content;
    background-color: rgba(207, 10, 69, 0.747);
    margin: auto;
    border: solid rgb(0, 0, 0);
    text-align: left;
    font-size: 1em;
    color: aliceblue;
  nav {
  font-size: 1em;
  }
}

h4, h5, h6 {
    font-size: 2em;
    text-align: center;
    width: fit-content;
    background-color: rgba(207, 10, 69, 0.747);
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

p {
    color: black;
    font-size: 1em;
}
  
footer {
    text-align: center;
}
 