/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4c148d;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.articles-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

/* Configuración para pantallas pequeñas (1 columna) */
@media (max-width: 600px) {
  .articles-container {
    grid-template-columns: 1fr;
  }
}

/* Configuración para pantallas medianas (2 columnas) */
@media (min-width: 601px) and (max-width: 800px) {
  .articles-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Configuración para pantallas grandes (3 columnas) */
@media (min-width: 801px) {
  .articles-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

article {
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: justify;
}
